{% extends 'layouts/index.html' %}
{% block title %}{{ faculty.title }}{% endblock %}
{% block content %}

    <style>
        .faculty {
            width: 70%;
            margin-left: 15%;
        }
        .comments {
            width: 70%;
            margin-left: 15%;
        }
        .comment {
            background: #242b2e;
            color: #fff;
            margin-bottom: 20px;
            padding: 10px;
        }
    </style>

        <div class="container">
        <p class="text-center">{{ faculty.title}}</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="/media/{{ faculty.image_1 }}/" alt="картинка" width="320" height="240">
            </div>
            <div class="col-sm">
                <img src="/media/{{ faculty.image_2 }}/" alt="картинка" width="320" height="240">
            </div>
            <div class="col-sm">
                <img src="/media/{{ faculty.image_3 }}/" alt="картинка" width="320" height="240">
            </div>
        </div>
    </div>
    <div class="container">
        <p class="text-justify">{{ faculty.description }}</p>
    </div>

    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <p class="author">{{ comment.author.username }}</p>
                <p class="text">{{ comment.text }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}