{% extends 'layouts/index.html' %}

{% block content %}
    <style>
        .faculties {
            display: flex;
            justify-content: space-between;
            margin-left: 10%;
            width: 80%;
            flex-wrap: wrap;
        }
    </style>
    <div class="faculties">
        {% for faculty in faculties %}
            <div class="card_body">
                <h5>{{ faculty.title }}</h5>
                <a href="/faculties/{{ faculty.id }}/" class="btn btn-primary">Посмотреть</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}