{% extends 'layouts/index.html' %}
{% block title %}
История специального факультета
{% endblock %}
{% block content %}
            <p class="text1">Специальный факультет является учебным подразделением Военного ордена Жукова университета радиоэлектроники,осуществляющим подготовку офицеров стран ближнего и дальнего зарубежья.</p>
            <p class="text2">СПЕЦИАЛЬНЫЙ ФАКУЛЬТЕТ </p>
            <p class="text3">Подготовка иностранных военнослужащих в ВВУЗе началась в 1996 году с ведением в штат Директивой Начальника Генерального штаба Вооруженных Сил Российской Федерации специальной группы для обеспечения обучения военнослужащих иностранных государств.</p>
            <p class="text4"> В 1996 году был осуществлен первый набор на обучение военнослужащих Республики Казахстан. С 1998 года в университете начата подготовка военнослужащих Кыргызской Республики, а с 2000 года-военнослужащих Республики Армения.</p>
            <p class="text5">В сентябре 2001 года на основании Указаний Президента Российской Федерации от 25 мая 1999 года №6498, указания Министра обороны Российской Федерации от 6 мая 2000 года №335/1349 специальная группа была преобразована в специальное отделение.</p>
            <p class="text6"> С 2002 года проводится подготовка национальных военных кадров Республики Узбекитсан.</p>
            <p class="text7">С 2010 года осуществлясь подготовка военнослужащих Республики Туркменистан.</p>
            <p class="text8"> С 2011 года проводилась подготовка военнослужащих Монголии с подготовительным курсом обучения.</p>
            <p class="text9"> С 2013 года по 2015 год в специальном отделении проходили обучение офицеры Республики Мозамбик.</p>
            <p class="text10"> С 2016 года военнослужащие Министерства обороны и Пограничной службы Республики Беларусь вошли в состав специального отделения.</p>
            <p class="text11"> С 2018 года в ВВУЗе осуществляется подготовка военнослужащих Социалистической Республики Вьетнам, а также военнослужащих Республики Таджикистан.</p>
            <p class="text12"> В сентябре 2020 года на оснований штата №17/436 утвержденного Начальником Генерального штаба Вооруженных Сил Российской Федерации от 20 мая 2020 года, специальное отделение преобразовано в специальный факультет.</p>
            <p class="text13"> С 2020 года осуществляется подготовка слушателей из числа офицеров-иностранных военнослужащих по программе магистратуры.</p>
            <li><a class="nazad"></a></li><a href="/faculty-5/"></a>

{% endblock %}
