{% extends 'layouts/index.html' %}
{% block title %} Электронная библиотека{% endblock %}
{% block content %}
            <p class="radiosvaz1">ЭЛЕКТРОННАЯ БИБЛИОТЕКА</p>
            <ol class="Ucheba">
                <li><a href="/математическая логика и теория алгоритмов/algoritm/index.html">Математическая логика и теория алгоритмова</a></li>
                <li><a href="/Сети и телекоммуникации/SETI/index.html">Сети и телекоммуникации</a></li>
                <li><a href="/програмирование/ElBiP-main/index.html">Программитрование</a></li>
                <li><a href="/дискретная математика/Diskretmatem/index.html">Дискретная математика</a></li>
              </ol>
{% endblock %}