{% extends 'layouts/index.html' %}
{% block title %}Учебные дисциплины{% endblock %}
{% block content %}
            <p class="radiosvaz1">Учебные дисциплины</p>
            <ol class="Ucheba">
                <li><a href="/дискретная математика/Статья Мамбетов.pdf">Информатика</a></li>
                <li><a href="#">Математика</a></li>
                <li><a href="#">История</a></li>
                <li><a href="#">Электротехника</a></li>
                <li><a href="#">Базы данных</a></li>
                <li><a href="#">Нир</a></li>
                <li><a href="#">ЭАССН</a></li>
                <li><a href="#">Системы искуственного интелекта</a></li>
                <li><a href="#">Иностранный</a></li>
                <li><a href="#">Базовые информационные компьютерные технологии</a></li>
                <li><a href="#">Математические основы компьютерной графики</a></li>
                <li><a href="#">Теория информации</a></li>
              </ol>
{% endblock %}