{% extends 'layouts/index.html' %}
{% block title %}Образование{% endblock %}
{% block content %}







            <p class="radiosvaz1">Образование</p>
            <ol class="rectangle">
                <li><a href="/edu/journals/">Электронный журнал успеваемости</a></li>
                <li><a href="/edu/schedule/">Расписание занятий</a></li>
                <li><a href="/edu/lessons/">Учебные дисциплины</a></li>
                <li><a href="/edu/videos/">Видео уроки</a></li>
                <li><a href="/edu/library/">Элетронная библиотека</a></li>
              </ol>

            </ul>




{% endblock %}