{% extends 'layouts/index.html' %}
{% block title %}{{ board.title }}{% endblock %}
{% block content %}
  <style>
        .faculty {
            width: 70%;
            margin-left: 15%;
        }
        .comments {
            width: 70%;
            margin-left: 15%;
        }
        .comment {
            background: #242b2e;
            color: #fff;
            margin-bottom: 20px;
            padding: 10px;
        }
    </style>
 <div class="container">
        <p class="text-center">{{ gruppa.title}}</p>
    </div>



    <div class="comments">
        {% for announcement in announcements %}
            <div class="comment">
                <p class="author">{{ announcement.author.username }}</p>
                <p class="text">{{ announcement.text }}</p>
            </div>
        {% endfor %}
    </div>


{% endblock %}