{% extends 'layouts/index.html' %}
{% block title %}{{ board.title }}{% endblock %}
{% block content %}
{#            <a class="doska" href="">{{ board.title }}</a>#}
{#            <input class="vvod" type="text" id="inputText" value="" placeholder="Введите объявление...">#}
{#            <button onclick="saveText()"class="pervyi">Сохранить</button>#}
{#            <button onclick="loadText()"class="vtoroi" >Загрузить</button>#}
{#            <p id="outputText"></p>#}
{#            #}
{#            <script>#}
{#             function  saveText()  { #}
{#              var input = document.getElementById("inputText").value;#}
{#              localStorage.setItem("savedText", input);#}
{#             }#}
{#           #}
{#             function loadText() {#}
{#              var savedText = localStorage.getItem("savedText");#}
{#              if (savedText !== null) {#}
{#               document.getElementById("outputText").innerHTML = savedText;#}
{#              }#}
{#              class outputText{#}
{#         #}
{#              }#}
{#             }#}
{#            </script>#}


{% endblock %}