{% extends 'layouts/index.html' %}
{% block title %}Доска объявлений{% endblock %}
{% block content %}

       <style>
        .groups {
            display: flex;
            justify-content: space-between;
            margin-left: 10%;
            width: 80%;
            flex-wrap: wrap;
        }

    </style>
        <a class="doska" href="">Доска объявлений</a>
    <div style="margin-top: 5%">
        <form action="/boards/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Создать" style="margin-left: 10%; margin-bottom: 5%;">
        </form>
    </div>
    <div class="groups">
        {% for board in boards %}
            <div class="card_body">
                <h5>{{ board.title }}</h5>
                <a href="/boards/{{ board.id }}/" class="btn btn-primary">Посмотреть</a>
            </div>
        {% endfor %}
    </div>



{% endblock %}
