body {
    background-color:#2F4F4F;
    color: rgb(243, 235, 235);
}
.header {
    max-width: -500px;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
}

.header__list {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.header__link {
    color: #fff;
    text-decoration: none;
}
.most {
    position: absolute;
width: 1433px;
height: 750px;
left: 25px;
top: 80px;

background: linear-gradient(0deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35));
border-radius: 30px;
}
.logo{
z-index: 99;
position: absolute;
width: 572px;
height: 171px;
left: 470px;
top: 260px;

font-family: 'Playfair Display';
font-style: italic;
font-weight: 500;
font-size: 128px;
line-height: 171px;
/* identical to box height */

letter-spacing: -0.03em;

color: #FFFFFF;
}
.slujba{
    position: absolute;
width: 433px;
height: 39px;
left: 38%;
top: 520px;
z-index: 99;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

letter-spacing: -0.04em;

color: #FFFFFF;

}
.gorod{
    position: absolute;
    width: 135px;
    height: 39px;
    left: 40px;
    top: 916px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    letter-spacing: -0.04em;
    
    color: #ffffff
}
.infa{
    position: absolute;
    width: 338px;
    height: 306px;
    left: 60px;
    top: 982px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* or 127% */
    
    letter-spacing: -0.04em;
    
    color: #ffffff;
    
    
}
.infa2{
    position: absolute;
width: 335px;
height: 252px;
left: 421px;
top: 990px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* or 127% */

letter-spacing: -0.04em;

color: #ffffff;

}
.infa3{
    position: absolute;
width: 284px;
height: 479px;
left: 838px;
top: 1542px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* or 127% */

letter-spacing: -0.04em;

color: #ffffff;
}
.infa4{
    position: absolute;
width: 326px;
height: 503px;
left: 1143px;
top: 1542px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* or 127% */

letter-spacing: -0.04em;

color: #ffffff;
}
.pamat{
position: absolute;
width: 716px;
height: 479px;
left: 764px;
top: 990px;

background: url(pamatnic.jpg);
border-radius: 20px;
}
.verh{
    position: absolute;
width: 716px;
height: 479px;
left: 40px;
top: 1542px;

background: url(vidsverhy.jpg);
border-radius: 20px;
}
.infa5{
    position: absolute;
width: 347px;
height: 574px;
left: 60px;
top: 2094px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* or 127% */

letter-spacing: -0.04em;

color: #ffffff;

}
.infa6{
    position: absolute;
width: 295px;
height: 394px;
left: 461px;
top: 2094px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* or 127% */

letter-spacing: -0.04em;

color: #ffffff;


}
.zavod{
    position: absolute;
width: 696px;
height: 483px;

background: url(cherep.jpg);
border-radius: 20px;
Top: 2110px;
Left: 780px;

}
.teatr{
    position: absolute;
width: 718.5px;
height: 479px;
left: 38px;
top: 2631px;

background: url(teatr.jpg);
border-radius: 20px;
}
.infa7{
    position: absolute;
    width: 305px;
    height: 479px;
    left: 817px;
    top: 2631px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* or 127% */
    
    letter-spacing: -0.04em;
    
    color: #ffffff;
    
}
.infa8{
    position: absolute;
width: 290px;
height: 386px;
left: 1143px;
top: 2631px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* or 127% */

letter-spacing: -0.04em;

color: #ffffff;
}
.dym{
    position: absolute;
width: 725px;
height: 469px;
left: 756px;
top: 3147px;

background: url(zavod.jpg);
border-radius: 20px;
}
.infa9{
    position: absolute;
width: 351px;
height: 528px;
Top:3130px;
Left:55px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* or 127% */

letter-spacing: -0.04em;

color: #ffffff;

}
.infa10{
    position: absolute;
width: 307px;
height: 561px;
Top:3130px;
Left:450px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* or 127% */

letter-spacing: -0.04em;

color: #ffffff;
}
.header__list {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
.sait{
    position: absolute;
    width: 396px;
    height: 48px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.04em;
    
    color: #ffffff;
}
.emblema{
    position: absolute;
width: 97px;
height: 122px;
left: 40px;
top: 3px;

background: url(emblema.png);

}
.Footer{
    position: absolute;
    width: 232px;
    height: 42px;
    left: 79px;
    top: 1245px;
    Top:1050px;
Left:179px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    
    color: #ffffff;
    
}
.Footer2{
    position: absolute;
    width: 508px;
    height: 54px;
    Top:1050px;
Left:914px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    
    color: #ffffff;
    
}
.Footer3{
    position: absolute;
width: 411px;
height: 54px;
Top:1090px;
Left:914px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;

color: #ffffff;
}